body,
text {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 11px;
}

.fullname {
  font-weight: bold;
}

.about {
  fill: #777;
  font-size: smaller;
}

.link.hidden {
  /* shape-rendering: crispEdges; */
  stroke: #2af;
  stroke-width: 3;
  stroke-opacity: 0.5;
}

foreignObject {
  width: 180;
  height: 20px;
  max-width: 180px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.node circle {
  fill: #bbb;
  cursor: pointer;
  pointer-events: all;
}

*,
.node text {
  font: 12px sans-serif, Menlo;
}

.node--internal circle {
  fill: #999;
}

.node--internal div {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-opacity: 0.9;
  stroke-width: 1.5px;
}

.fo {
  border: 0px dotted #2af;
  height: 120px;
}

.decision {
  border: 0px dotted #f80;
  height: 120px;
  overflow: auto;
  width: 187px;
}
rect.svg-bg-rect {
  fill: '#aaaaaa44';
  stroke: '#000000ff';
}
rect.svg-background-rect {
  fill: #aaaaaa44;
  stroke: #00000099;
}
rect.svg-total-rect {
  fill: #aaaaaa44;
  stroke: #00000099;
}

.parents {
  stroke: #999;
}
.maternal-parents {
  stroke: #f70;
}
.paternal-parents {
  stroke: #07f;
}
.maternal-maternal-parents {
  stroke: #fb2;
}
.maternal-paternal-parents {
  stroke: #fd8;
}
.paternal-maternal-parents {
  stroke: #2af;
}

.paternal-paternal-parents {
  stroke: #ade;
}
.verticalGridLines,
.horizontalGridLines {
  stroke: #ddd;
  fill: none;
}
.origin {
  fill: green;
}
.target {
  fill: purple;
}
